[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
WeasyPrint = "*"
boto = "*"
coreapi = "*"
cssmin = "*"
django-allauth = "*"
django-auditlog = "==1.0a1"
django-environ = "*"
django-extra-fields = "*"
django-filter = "*"
django-hijack = "*"
django-model-utils = "*"
django-post_office = "*"
django-redis = "*"
django-rest-auth = "*"
django-weasyprint = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
fabric = "*"
gunicorn = "*"
invoke = "*"
psycopg2-binary = "*"
pyinvoke = "*"
redis = "*"
patchwork = "*"
halo = "*"
django-q = "*"
django-auth-ldap = "*"
pymemcache = "*"
django-bootstrap4 = "*"

[dev-packages]
Django = "*"
bpython = "*"
coverage = "*"
django-debug-toolbar = "*"
factory_boy = "*"
pyinotify = "*"
selenium = "*"

[requires]
python_version = "3.10"
