{% extends 'base.html' %}{% load static widget_tweaks %}
{% block title %}Atualização de Senha{% endblock %}
{% block body_class %}loading auth-fluid-pages pb-0{% endblock body_class %}

{% block body %}
<div class="auth-fluid">
  <!-- Auth fluid right content -->
  <div class="auth-fluid-right bg-transparent">
    <div class="auth-user-testimonial">
      <h3 class="mb-3 text-white">Very elegant & impressive!</h3>
      <p class="lead fw-normal"><i class="mdi mdi-format-quote-open"></i> I've been using this theme for a while and I
        must say that whenever I am looking for a design - I refer to this theme for specifics & implementation. With
        wide arrays of components, designs, charts - I would highly recommend this theme for anyone using it for
        dashboard or project management usage.. <i class="mdi mdi-format-quote-close"></i>
      </p>
      <h5 class="text-white">
        - Admin User
      </h5>
    </div> <!-- end auth-user-testimonial-->
  </div>
  <!-- end Auth fluid right content -->

  <!--Auth fluid left content -->
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        {% if token_fail %}
        <p>Infelizmente não será possível resetar sua senha.</p>
        <p>Talvez ela já tenha sido resetada, ou o <i>link</i> utilizado para acessar esta página seja inválido. 
            Se preferir, clique no botão abaixo para fazer outra solicitação de reset de senha.
        </p>

          <div class="d-grid text-center">
            <a href="{% url 'account_reset_password' %}" class="btn btn-primary waves-effect waves-light" type="submit">
              <i class="mdi mdi-home"></i> Resetar Senha
            </a>
          </div>
        {% else %}
        <h4 class="mt-0">Resetar Senha</h4>
        <p class="text-muted mb-4">Digite sua senha nos campos abaixo (lembre-se que sua senha precisa ser a mesma nos dois campos).</p>

          <form action="" method="post">{% csrf_token %}
            <div class="mb-3">
              <label for="id_password1" class="form-label">Senha</label>
              {% if form.password1.errors %}
                {% render_field form.password1 class="form-control form-control-sm is-invalid" required="required" %}
                <div class="invalid-feedback">
                  {{ form.password1.errors.0 }}
                </div>
              {% else %}
                {% render_field form.password1 class="form-control form-control-sm" required="required" %}
              {% endif %}
            </div>

            <div class="mb-3">
              <label for="id_password2" class="form-label">Confirmar Senha</label>
              {% if form.password2.errors %}
                {% render_field form.password2 class="form-control form-control-sm is-invalid" required="required" %}
                <div class="invalid-feedback">
                  {{ form.password2.errors.0 }}
                </div>
              {% else %}
                {% render_field form.password2 class="form-control form-control-sm" required="required" %}
              {% endif %}
            </div>

            <div class="d-grid text-center">
              <button class="btn btn-primary waves-effect waves-light" type="submit">
                <i class="mdi mdi-sync"></i> Atualizar Senha
              </button>
            </div>
          </form>

          <!-- Footer-->
          <footer class="footer footer-alt">
            <p class="text-muted">Já tem uma conta?
              <a href="{% url 'account_login' %}" class="text-primary fw-medium ms-1">Login</a>
            </p>
          </footer>
        {% endif %}

      </div> <!-- end .card-body -->
    </div> <!-- end .align-items-center.d-flex.h-100-->
  </div>
  <!-- end auth-fluid-form-box-->

</div>
{% endblock body %}
