{% extends 'base.html' %}{% load static widget_tweaks %}
{% block title %}Resetar senha{% endblock %}
{% block body_class %}loading auth-fluid-pages pb-0{% endblock body_class %}

{% block body %}
<div class="auth-fluid">
  <!-- Auth fluid right content -->
  <div class="auth-fluid-right bg-transparent">
    <div class="auth-user-testimonial">
      <h3 class="mb-3 text-white">Very elegant & impressive!</h3>
      <p class="lead fw-normal"><i class="mdi mdi-format-quote-open"></i> I've been using this theme for a while and I
        must say that whenever I am looking for a design - I refer to this theme for specifics & implementation. With
        wide arrays of components, designs, charts - I would highly recommend this theme for anyone using it for
        dashboard or project management usage.. <i class="mdi mdi-format-quote-close"></i>
      </p>
      <h5 class="text-white">
        - Admin User
      </h5>
    </div> <!-- end auth-user-testimonial-->
  </div>
  <!-- end Auth fluid right content -->

  <!--Auth fluid left content -->
  <div class="auth-fluid-form-box">
    <div class="align-items-center d-flex h-100">
      <div class="card-body">

        <!-- title-->
        <h4 class="mt-0">Resetar Senha</h4>
        <p class="text-muted mb-4">Entre com seu endereço de email para que sejam enviadas instruções de como resetar sua senha.</p>

        <!-- form -->
        <form action="" method="post">{% csrf_token %}

          <div class="mb-3">
            <label for="emailaddress" class="form-label">Endereço de Email</label>
            {% if form.email.errors %}
              {% render_field form.email class="form-control form-control-sm is-invalid" required="required" %}
              <div class="invalid-feedback">
                {{ form.email.errors.0 }}
              </div>
            {% else %}
              {% render_field form.email class="form-control form-control-sm" required="required" %}
            {% endif %}
          </div>

          <div class="d-grid text-center">
            <button class="btn btn-primary waves-effect waves-light" type="submit">
              <i class="mdi mdi-sync"></i> Resetar senha
            </button>
          </div>

        </form>
        <!-- end form-->

        <!-- Footer-->
        <footer class="footer footer-alt">
          <p class="text-muted">Já tem uma conta?
            <a href="{% url 'account_login' %}" class="text-primary fw-medium ms-1">Login</a>
          </p>
        </footer>

      </div> <!-- end .card-body -->
    </div> <!-- end .align-items-center.d-flex.h-100-->
  </div>
  <!-- end auth-fluid-form-box-->

</div>
{% endblock body %}
